body{

  background-color: #FFDCDC;
  margin: 0px;
/*  padding: 7% 15%;*/

}

.container{
  width: 80%;
  margin: auto;
  overflow: hidden;
}

.navigation-bars{
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  height: 20%;
}

#main-header{
  background-color: #b34180;
  color: #fff;
  text-align: center;
}

#navbar{
  background-color: #e36bae;
  color: #fff;
}

#navbar ul{
  padding: 0;
  list-style: none;
  text-align: center;

}

#navbar li{
  display: inline

}

#navbar a{
  color: #fff;
  text-decoration: none;
  font-size: 18px;
  padding-right: 15px;
}

.headings{
  color:#b34180;
}



.container-fluid{
  width:80%;
  margin-top: 20%;
  text-align: justify;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20%;
}



.wordings{
  float: right;
  width:70%;
  margin-bottom: 30px;

}

img{
  float: left;
  width: 25%;
  margin-right: 10px;
  height: 90%;


}

.container-fluidii{
  padding: 2% 35%;
}

.containerfluidiii{
  padding: 2% 15%;
}

.imagetwo{
  height: 200px;
  transform: rotate(25deg);
}

.containerfluidiv{
  padding: 7% 15%;
  text-align: center;
}

.containerfluidv{
  text-align: center;
  background-color: #b34180;
  padding: 20px;
  margin: 0px;

}

.heading1{
  color: #b34180;
}

.heading2{
  text-align: center;
  color: #b34180;
}

.heading3{
  text-align: center;
  color:#b34180 ;
}

.icon{
  size:3rem;

  color:#b34180;
}

.instagram-link{
  color: black;
  text-decoration: none;
  font-size: 18px;

}

.feature-box{
  text-align: center;

}

ol{
  list-style: none;
  text-align: center;
}

hr{
  border-style: none;
  border-top-style: dotted;
  border-color: #ff9292;
  border-width: 5px;
  width: 40%;
}

@media screen and (max-device-width:600px), screen and (max-width: 600px)  {

  /* body{
    background-color: red;
  } */

  #navbar a{
    color: #fff;
    text-decoration: none;
    font-size: 18px;
    padding-right: 15px;

  }

  #navbar li{
    display: block;
    padding-bottom: 10px;
  }

  .container-fluid{
    width:80%;
    margin-top: 40%;
  }

  img{
    width: 100%;
    margin: auto;
    float: none;
    height: auto;
    margin-top: 20px;
  }

  .wordings{
    width: 100%;
    margin:auto;
    float: none;

  }

  .headings{
    text-align: center;
  }

  .mobile-footer{
    font-size: 7px;
  }

}
